<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>JAP Task 1</a>

        <ul class="navbar-nav mr-auto">
            <ng-container>

                <div *ngIf="(accountService.currentUser | async) != null; else elseBlock" class="dropdown" style="margin-top: 0.6rem;" dropdown>
                    <li class="nav-item">
                        <a class="dropdown-toggle text-light ml-2" dropdownToggle routerLinkActive='active'>Movies</a>
                        <div class="dropdown-menu mt-3" *dropdownMenu>
                            <a routerLink='/movies' class="dropdown-item">Movies list</a>
                            <a routerLink='/movies/ratings' class="dropdown-item">Rate a movie</a>
                        </div>
                    </li>
                </div>

                <ng-template #elseBlock>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/movies' routerLinkActive='active'>Movies</a>
                    </li>
                </ng-template>

                <li class="nav-item">
                    <a class="nav-link" routerLink='/actors' routerLinkActive='active'>Actors</a>
                </li>

                <div *ngIf="checkIfUserHasRole()" class="dropdown" style="margin-top: 0.6rem;" dropdown>
                    <li class="nav-item">
                        <a class="dropdown-toggle text-light ml-2" dropdownToggle routerLinkActive='active'>Admin
                            panel</a>
                        <div class="dropdown-menu mt-3" *dropdownMenu>
                            <a routerLink='/movies/add' class="dropdown-item">Add new movie</a>
                            <a routerLink='/actors/add' class="dropdown-item">Add new actor</a>
                        </div>
                    </li>
                </div>

            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser | async) as user" dropdown>
            <img src="{{user.photoUrl || '../../../../../../../assets/user.png" alt="{{user.username}}" />
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{ user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='/users/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Sign Out</a>
            </div>
        </div>


        <div *ngIf="(accountService.currentUser | async) == null">
            <a routerLink="/auth/signin"><button class="btn btn-outline-light mr-4">Sign in</button></a>
            <a routerLink="/auth/register"><button class="btn btn-outline-light">Register</button></a>
        </div>
    </div>

</nav>